.music{
background: linear-gradient(95.31deg, #A659FF -28.73%, #7178FF 23.23%, #2148FF 62.74%, #FF3517 111.77%);
border-radius: 22px;
text-align: center;
margin: 0 80px;
position: relative;
bottom: 3.5rem;
}

.music-container h4{
font-size: 36px;
line-height: 108%;
/* or 39px */
text-align: center;
color: #FFFFFF;
padding-top: 43px;
}

.music-btn{
margin-top: 42px;
/* margin-bottom: 42px; */
padding-bottom: 42px;
}

.music-container button{
font-size: 12px;
line-height: 14px;
background: none;
border: 1px solid #FFFFFF;
border-radius: 105px;
padding: 11px 35px;
color: #FFFFFF; 
}
