* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--color-bg);
  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  
.app_header{
background-image: url('assets/hero.png');
background-size: 80% 90%;
background-repeat: no-repeat;
}

.app-header2{
  background-image: url(assets/Vector\ 5.png);
 background-size: 52% 100%;
 background-repeat: no-repeat;
 background-position:top right;
 
}